<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div id="module"></div>
</body>


<script>
    $(document).ready(function() {
        getData();
    });
    function getData() {
        $.ajax({
            type: "get", // Changed to lowercase
            url: "/api/getData", // Check if this URL is correct
            success: function(response) {
                console.log(response)
                 let pathName = window.location.pathname;
                let applications = response.application;
                let module=``;
                for(let i in applications){
                    if(pathName == applications[i].path){
                    module += `<button  onclick="viewOpenApplication(`+applications[i].id+`)"><div class="card text-white mb-3" style="max-width: 18rem; background-color: `+applications[i].bgcolor+`">
                        <div class="card-header"></div>
                        <div class="card-body">
                        <h5 class="card-title">`+applications[i].label+`</h5>
                        </div>
                        </div></button>`
                    }
                }
                $("#module").html(module);
            },
            error: function(xhr, status, error) {
                console.error("AJAX request failed:", status, error);
            }
        });
    }

    function viewOpenApplication(applicationid){
        window.location = '/index/view?applicationid='+applicationid;
    }

</script>

</html>