<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>View</title>
</head>
<body>
<div id="applicationmenu"></div>


</body>
<script>
    $(document).ready(function(){
        let applicationid = new URLSearchParams(window.location.search).get("applicationid")
        console.log(applicationid)
        getapp_applicationmenu(applicationid);
    });
    function getapp_applicationmenu(applicationid){
        $.ajax({
            type: "get", // Changed to lowercase
            url: "/api/getapplicationmenu?applicationid="+applicationid, // Check if this URL is correct
            success: function(response) {
                console.log(response)
                let pathName = window.location.pathname;
                let module=``;
                let applicationmenu = response.applicationmenu;

                for(let i in applicationmenu){
                    if(pathName == applicationmenu[i].path){
                        module += `<button  onclick="viewOpenApplicationMenu(`+applicationmenu[i].actionurl+`)"><div class="card text-white mb-3" style="max-width: 18rem; background-color: burlywood">
                        <div class="card-header"></div>
                        <div class="card-body">
                        <h5 class="card-title">`+applicationmenu[i].label+`</h5>
                        </div>
                        </div></button>`
                    }
                }
                $("#applicationmenu").html(module);
            },
            error: function(xhr, status, error) {
                console.error("AJAX request failed:", status, error);
            }
        });
    }
</script>
</html>